# Packages required for this project
fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
pandas
matplotlib
email-validator

# Package for PostgresSQL
psycopg2-binary

# Package for using external APIs.
requests

# Package for Security
PyJWT
passlib
bcrypt